MONGO_URI=
JWT_SECRET=

<!-- serverless -->

STAGE=local
AWS_UPSERT_RESPONSE_LAMBDA_CONSUMER_REGION=us-east-1
AWS_UPSERT_RESPONSE_LAMBDA_CONSUMER_ENDPOINT=http://localhost:3002
AWS_UPSERT_RESPONSE_LAMBDA_CONSUMER_FUNCTION_NAME=questionnaire-app-local-upsert-questionnaire-response-consumer
AWS_UPSERT_RESPONSE_LAMBDA_CONSUMER_KINESIS_STREAM_NAME=questionnaire-upsert-response-stream
